.sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-width: 240px;
  border-radius: 10px;
  color: var(--dark-text-color);
  background-color: var(--dark-primary-color);
  .sort_label {
    display: flex;
    justify-content: space-around;
    span {
      color: var(--primary-color-light);
      text-decoration: dashed underline;
      cursor: pointer;
    }
  }
  .sort_popup {
    position: absolute;
    top: 110%;
    right: 0;
    border-radius: 10px;
    color: var(--dark-text-color);
    background-color: var(--dark-primary-color);

    ul {
      .active {
        background-color: var(--dark-primary-color-light);
        color: var(--primary-color-light);
      }
      li {
        list-style-type: none;
        padding: 10px;
        cursor: pointer;
        transition: var(--tran-03);
        &:hover {
          background-color: var(--dark-primary-color-light);
        }
      }
      li:first-child {
        border-radius: 10px 10px 0 0;
      }
      li:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
