.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
  z-index: 10;
  transition: var(--tran-03);
  background-color: var(--sidebar-color);
  .menu-bar {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mode {
      position: relative;
      border-radius: 6px;
      transition: var(--tran-03);
      background-color: var(--content-color-light);
      .toggle-switch {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 60px;
        cursor: pointer;

        .switch-off {
          position: relative;
          height: 22px;
          width: 44px;
          border-radius: 25px;
          transition: var(--tran-02);
          background: var(--content-color);
          &::before {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            transition: var(--tran-02);
            background: var(--content-color-light);
          }
        }
        .switch-on {
          position: relative;
          height: 22px;
          width: 44px;
          border-radius: 25px;
          transition: var(--tran-03);
          background: var(--content-color);
          &::before {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            transition: var(--tran-03);
            background: var(--content-color-light);
          }
        }
      }

      .moon-sun {
        height: 50px;
        width: 60px;
        display: flex;
        align-items: center;
        transition: var(--tran-02);
        color: var(--text-color);
      }
      i {
        position: absolute;
      }
    }
  }

  li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
      min-width: 60px;
    }

    .text {
      font-size: 18px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 6px;
      width: 100%;
      transition: var(--tran-03);
      color: var(--text-color);
      &:hover {
        background-color: var(--content-color-light);
      }
    }
  }

  .image-text {
    .image {
      min-width: 60px;
      display: flex;
      align-items: center;
    }
  }

  header {
    position: relative;

    a {
      color: var(--text-color);
      transition: var(--tran-02);
    }

    .image-text {
      display: flex;
      align-items: center;

      .name {
        font-size: 23px;
        font-weight: 700;
      }
    }

    .toggle {
      position: absolute;
      top: 50%;
      right: -23px;
      transform: translateY(-50%);
      height: 25px;
      width: 25px;
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: var(--tran-04);

      font-size: 25px;
      cursor: pointer;
    }
  }

  .bottom-content {
    .logout {
      cursor: pointer;
    }
  }
}

.sidebar.open {
  width: 250px;
  .menu-bar {
    .mode {
      .moon-sun {
        i {
          opacity: 1;
          transition: var(--tran-05);
        }
      }
    }
  }

  .text {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  header {
    .toggle {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.sidebar.close {
  width: 78px;
  .menu-bar {
    .mode {
      .moon-sun {
        i {
          opacity: 0;
          transition: var(--tran-02);
        }
      }
    }
  }

  .text {
    opacity: 0;
    transition: all 0.2s ease;
  }
}

.content:has(.sidebar.close) {
  left: 78px;
  width: calc(100% - 78px);
}
