.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--input-color);
  transition: var(--tran-03);
  cursor:pointer;
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    background-color: var(--primary-color);
  }
  .title {
    font-size: 15px;
  }
  .info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    grid-gap: 15px;
    font-size: 10px;
    .status {

    }
    .customer {

    }
    .executor {

    }

    .startDate {

    }
  }
}

.statusReview {
  border-left: solid var(--task-review) 3px;
}

.statusCompleted {
  border-left: solid var(--task-completed) 3px;
}

.statusCanceled {
  border-left: solid var(--task-canceled) 3px;
}

.statusInProgress {
  border-left: solid var(--task-in-progress) 3px;
}