@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  --dark-body-color: #18191a;
  --dark-sidebar-color: #242526;
  --dark-primary-color: #3a3b3c;
  --dark-primary-color-light: #3a3b3c;
  --dark-toggle-color: #fff;
  --dark-text-color: #ccc;

  --tran-03: all 0.3 ease;
  --tran-04: all 0.4 ease;
  --tran-05: all 0.5 ease;
  transition: {
    property: all;
    duration: 0.2s;
    timing-function: ease;
    delay: 0s;
  }
}

body {
  color: var(--text-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-color);
}

.container {
  .signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    form {
      background: var(--primary-color);
      padding: 20px 40px 30px;
      border-radius: 15px;
      width: 100%;
      max-width: 500px;

      h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 25px;
        color: var(--text-color);
      }

      .field__item {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        position: relative;
        display: block;
        border-radius: 10px;

        input {
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          border: none;
          outline: none;
          font-size: 18px;
          position: absolute;
          bottom: 0;
          background-color: var(--body-color);

          &:focus {
            + span {
              top: -7px;
              left: 10px;
              background: var(--primary-color);
              font-size: 12px;
              padding: 0 7px;
              border-radius: 10px;
            }
          }
          &:valid {
            + span {
              top: -7px;
              left: 10px;
              background: var(--primary-color);
              font-size: 12px;
              padding: 0 7px;
              border-radius: 10px;
            }
          }
        }

        span {
          color: var(--text-color);
          position: absolute;
          top: 14px;
          left: 20px;
          font-weight: 500;
          transition: {
            property: all;
            duration: 0.2s;
            timing-function: ease;
            delay: 0s;
          }
          cursor: text;
        }
      }

      .btn-main {
        background-color: var(--body-color-light);
        color: var(--text-color);
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        padding: 13px 50px;
        display: block;
        margin: 0 auto;
        transition: {
          property: all;
          duration: 0.2s;
          timing-function: ease;
          delay: 0s;
        }
        border-radius: 10px;
        &:hover {
          transform: translateY(3px);
          box-shadow: 0 2px 0 var(--body-color);
        }
      }
    }
  }
}

.dark {
  .sidebar-open {
    background-color: var(--dark-sidebar-color);
    transition: {
      property: all;
      duration: 0.3s;
      timing-function: ease;
      delay: 0s;
    }
    .menu-bar {
      .mode {
        background-color: var(--dark-primary-color-light);
        .toggle-switch {
          .switch-on {
            background-color: var(--dark-text-color);
            &::before {
              background: var(--dark-primary-color-light);
            }
          }
        }
      }
    }

    li {
      a {
        color: var(--dark-text-color);
        &:hover {
          background-color: var(--dark-primary-color-light);
        }
      }
    }

    header {
      .toggle {
        color: var(--dark-text-color);
      }
    }
  }
}

.light {
  .sidebar-open {
    background-color: var(--sidebar-color);
    transition: {
      property: all;
      duration: 0.3s;
      timing-function: ease;
      delay: 0s;
    }
    .menu-bar {
      .mode {
        background-color: var(--primary-color-light);
        .toggle-switch {
          .switch-off {
            background-color: var(--text-color);
            &::before {
              background: var(--primary-color-light);
            }
          }
        }
      }
    }

    li {
      a {
        color: var(--text-color);
        &:hover {
          background-color: var(--primary-color-light);
        }
      }
    }

    header {
      .toggle {
        color: var(--sidebar-color);
      }
    }
  }
}

.sidebar-open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px;

  .menu-bar {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mode {
      border-radius: 6px;
      transition: {
        property: all;
        duration: 0.3s;
        timing-function: ease;
        delay: 0s;
      }
      .toggle-switch {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 60px;
        cursor: pointer;

        .switch-off {
          position: relative;
          height: 22px;
          width: 44px;
          border-radius: 25px;
          transition: {
            property: all;
            duration: 0.2s;
            timing-function: ease;
            delay: 0s;
          }
          &::before {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            transition: {
              property: all;
              duration: 0.2s;
              timing-function: ease;
              delay: 0s;
            }
          }
        }
        .switch-on {
          position: relative;
          height: 22px;
          width: 44px;
          border-radius: 25px;
          transition: {
            property: all;
            duration: 0.3s;
            timing-function: ease;
            delay: 0s;
          }

          &::before {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            transition: {
              property: all;
              duration: 0.3s;
              timing-function: ease;
              delay: 0s;
            }
          }
        }
      }

      .moon-sun {
        height: 50px;
        width: 60px;
        display: flex;
        align-items: center;
      }
      i {
        position: absolute;
      }
    }
  }

  li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      min-width: 60px;
    }
    .text {
      font-size: 18px;
      font-weight: 500;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 6px;

      width: 100%;
      transition: {
        property: all;
        duration: 0.3s;
        timing-function: ease;
        delay: 0s;
      }
    }
  }

  .image-text {
    .image {
      min-width: 60px;
      display: flex;
      align-items: center;
    }
  }

  .text {
    font-size: 16px;
    font-weight: 600;
  }

  header {
    position: relative;

    .image-text {
      display: flex;
      align-items: center;
    }

    .toggle {
      position: absolute;
      top: 30%;
      right: -23px;
      transform: translateY(-50%);
      height: 25px;
      width: 25px;
      background-color: rgb(96, 115, 223);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      font-size: 25px;
      cursor: pointer;
    }
  }

  .bottom-content {
    .logout {
      cursor: pointer;
    }
  }
}
