@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #7f74f5;
  --toggle-color: #ddd;
  --text-color-light: #fff;
  --text-color: #000;
  --title-text-color: #707070;

  --dark-body-color: #18191a;
  --dark-sidebar-color: #242526;
  --dark-primary-color: #3a3b3c;
  --dark-primary-color-light: #48494b;
  --dark-toggle-color: #fff;
  --dark-text-color: #ccc;

  --border: linear-gradient(45deg, purple, orange);

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: space-between;

  flex-flow: row wrap;
  grid-gap: 0 30px;
  position: relative;

  left: 250px;
  padding: 0 50px;
  width: calc(100% - 250px);
  transition: var(--tran-03);

  .page {
    width: 1100px;
    margin-bottom: 20px;
    .wrapper {
      display: flex;
      justify-content: space-around;
      flex-grow: 3;

      .page-content {
        display: flex;
        justify-content: space-between;
        transition: var(--tran-03);
        min-height: 740px;
        width: 100%;
        min-width: 600px;
        max-width: 1150px;
        padding: 50px;
        border-radius: 10px;
        background-color: var(--dark-sidebar-color);
        @media screen and (max-width: 1400px) {
          max-width: 100%;
          flex-direction: column;
        }

        .text {
          color: var(--dark-text-color);
        }
      }
    }
  }
}

.btn-main {
  background-color: var(--dark-primary-color);
  border: none;
  border-radius: 5px;
  padding: 9px;
  max-width: 200px;
  margin: 0 auto;
  width: 200px;
  color: var(--dark-text-color);
  font-size: 15px;
  transition: var(--tran-03);
  cursor: pointer;
  &:hover {
    background-color: var(--dark-primary-color-light);
  }
}

.btn-submit {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 9px;
  max-width: 200px;
  margin: 0 auto;
  width: 200px;
  color: var(--dark-text-color);
  font-size: 15px;
  transition: var(--tran-03);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-color-light);
    color: var(--dark-body-color);
  }
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--dark-primary-color);
  min-width: 300px;
  grid-gap: 20px;
  transition: var(--tran-03);
  cursor: pointer;
  &:hover {
    background-color: var(--dark-primary-color-light);
  }

  .mini-avatar {
    .null-avatar {
      background-color: var(--dark-primary-color-light);
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    .border-super-admin {
      box-shadow: 0 0 0 3px var(--dark-primary-color), 0 0 0 5px #a518c2;
    }
    .border-admin {
      box-shadow: 0 0 0 3px var(--dark-primary-color), 0 0 0 5px #8b0101;
    }
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }
  .user-card-info {
    display: flex;
    flex-direction: column;
    .name {
      color: var(--dark-text-color);
    }
    .super-admin {
      color: #ff000071;
    }

    .admin {
      color: #2c9af371;
    }

    .exec {
      color: #dce92a71;
    }

    .user {
      color: #bebebe71;
    }

    .username {
      color: var(--dark-text-color);
    }
  }
}
