.root {
  display: flex;
  justify-content: center;
  grid-gap: 20px;

  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      color: var(--text-color);
      background-color: var(--primary-color);
      line-height: 38px;
      width: 40px;
      height: 40px;
      text-decoration: none;
      list-style: none;
      border-radius: 50%;
      transition: var(--tran-03);
      cursor: pointer;

      &:hover {
        background-color: var(--primary-color-light);
        border-radius: 50%;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: var(--body-color);
        border-radius: 50%;
      }
    }
  }
}
